.product-details-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .product-details-heading {
    font-size: 24px;
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .product-details-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .product-details-image {
    padding: 10px;
    margin-left: 0;
  }
  
  .product-details-image img {
    width: 500px;
    height:500px;
    border:#a0a0a0 1px solid;
    border-radius: 5px;
    
  }
  
  .product-details-info {
    padding: 10px;
  }
  
  .product-details-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
  .product-details-sold {
    font-size: 15px;
    position: relative;
    margin-bottom: 20px;
    font-weight:bolder;
    color: rgb(150, 0, 0);
  
  }
  .product-details-sold::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60%;
    height: 1px;
    background-color: black;
  }
  .product-details-condition {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
    color: rgb(67, 182, 0);
  }
  .product-details-price-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .product-details-discount,
  .product-details-current-price,
  .product-details-previous-price {
    color: black;
  }
  
  .product-details-discount {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .product-details-previous-price {
    text-decoration: line-through;
    margin-right: 10px;
  }
  
  .product-details-size-color {
    display: flex;
    margin-bottom: 30px;
    color: black;
  }
  
  .product-details-size,
  .product-details-color {
    margin-right: 10px;
  }
  
  .product-details-size-dropdown,
  .product-details-color-dropdown {
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .product-details-description {
    border-top: 1px solid rgb(70, 70, 70);
    margin-bottom: 10px;
    color: black;
  }
  
  .product-details-description ul {
    padding-left: 20px;
  }
  .product-details-return-container {
    background-color: #eeeeee;
    padding: 10px;
    width:90%;
    border-radius: 5px;
    font-size: 13px;
    text-align: left;
  }
  .product-details-return-container-text {
margin-bottom: 10px;
  }
  .product-details-purchase-details {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
  }
  
  .product-details-price {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
  }
  
  .product-details-delivery-address,
  .product-details-availability,
  .product-details-delivery-date,
  .product-details-quantity,
  .product-details-ship-from,
  .product-details-sold-by {
    margin-bottom: 20px;
    color: black;
  }
  
  .product-details-availability {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .product-details-in-stock {
    color: green;
  }
  
  .product-details-sold-out {
    color: red;
  }
  
  .product-details-quantity-dropdown {
    margin-bottom: 10px;
  }
  
  .product-details-add-to-cart-button{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color:#d88200;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .product-details-order-now-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color:#dd5800;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .product-details-add-to-cart-button:hover {
    background-color: #ec8f03;
  }
  .product-details-order-now-button:hover {
    background-color: #e74a01;
  }
  
  .product-details-ship-from {
    margin-bottom: 10px;
  }
  
  .product-details-website-details {
    font-size: 14px;
    color: #000;
  }
  
  @media (max-width: 768px) {
    .product-details-content > * {
      flex-basis: 100%;
    }
  }
  